# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* languages

* tools

* arithmetic

#### Some of the popular languages that Data Scientists use are:

1. Python

2. Java

3. C#

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas

2. NumPy

3. Matplotlib

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
x=7

In [21]:
y=5

In [22]:
z= x*y +4

In [23]:
print(z)

39

In [24]:
z= x/y*(x+3)

In [25]:
print(z)

14.0

#### This a simple arithmetic expression to mutiply then add integers.

In [26]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [30]:
minutes = 200

In [31]:
hours= minutes/ 60

In [32]:
print(hours)

3.3333333333333335

## Author

Alyssa Wheeler